<!doctype html>
<html>
<head>
	<title>DBLP Network | Q1</title>
	<style type="text/css">
		body {
	    	padding-top: 60px;
	      	padding-bottom: 40px;
    	}
    	#networkGraph {
    		height: 400px;
    	}
	</style>
	<link href="../css/metro-bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="../css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
	
	<link href="../css/vis.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../javascript/vis.js"></script>
	<script type="text/javascript" src="../javascript/jquery-2.1.4.js"></script>
	<script src="../javascript/googleAnalytics.js"></script>
	<script type="text/javascript" src="../javascript/bootstrap.js"></script>
	<script type="text/javascript" src="../javascript/func.js"></script>
</head>
<body>
	<div class="container">
		<!-- navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="navbar-brand" href="../index.html">Team 6's Secret Portal</a>
					<ul class="nav pull-right">
						<li class="navbar-brand">Welcome!</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- content -->
		<div class="container">
			<div class="row">
				<div class="col-mid-4 col-md-offset-4">
					<h2>Find Top 10 Related Papers</h2>
				</div>
			</div>
			<div class="row">
					<div class="form-group">
						<label>Keyword</label>
						<input type="text" class="form-control" id="keyword">
					</div>
					<textarea class="form-control" id="textArea" rows="5"></textarea>
					<br>
					<div class="col-md-4 col-md-offset-5">
						<button class="btn btn-primary" id="findTopPapersBtn">Submit</button>
					</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-5">
					<h4 id="graphTitle"></h4>	
				</div>
				<div id="networkGraph" class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div>
	</div>
</body>
</html>